@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
}

body {
    background-color: #1B1E1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*HEADER*/
.header {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*SKETCHER*/
.sketcher {
    display: flex;
    justify-content: center;
}
/*TOOLS*/
.brush-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 0.25rem;
}
.radio-box {
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 0.25rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-box:hover{
    background-color: #4c5355;
}
.radio-box::after{
    background-color: blue;
}
/*CANVA*/
#canva {
    width: 400px;
    height: 400px;
    background-color: white;
    display: grid;
}
#canva div {
    justify-self: stretch;
    align-self: stretch;
}
/*COLORS*/
.color-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
input[type="color"] {
    opacity: 0;
    width: 75px;
    height: 75px;
    border: none;
}
#color-wrapper {
    border: 2px solid white;
    border-radius: 50%;
}
#palette {
    width: 100px;
    height: 300px;
    background-color: #353a3b;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
}
#palette div {
    justify-self: stretch;
    align-self: stretch;
}
/*CANVA SIZE SLIDER*/
.canva-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#size-slider {
    width: 400px;
}
input[type='range'] {
    -webkit-appearance: none !important;
    background: #353a3b;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#eee;
    height:1rem;
    width:1rem;
}
#size-txt {
    margin-top: 0.5rem;
}
/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}
.footer a, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    font-weight: normal;
}